.card {
  background: white;
  margin: 20px;
  margin-top: 0;
  padding: $padding;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);

  &.card-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .contact-icon {
      font-size: 30px;
      padding: 0 $padding;
    }
  }

  &.card-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .underlined {
    padding-bottom: $padding;
    border-bottom: 1px solid $main-color;
  }
}
