.card {
  background: white;
  margin: 20px;
  margin-top: 0;
  padding: $padding;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px $box-shadow-color;

  &.card-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .contact-icon {
      font-size: 30px;
      padding: 0 $padding;
    }
  }

  &.card-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .underlined {
    padding-bottom: $padding;
    border-bottom: 1px solid $main-color;
  }
}

.fixed-card {
  position: fixed;
  top: 0;
  width: -webkit-fill-available;
  z-index: 2;
  padding: $padding;
  box-shadow: 0px 1px $box-shadow-color;
  margin-top: $margin;
}

.card-contact-bottom-layer {
  width: 100vw;
  background-color: $background-color;
  visibility: hidden;
  position: fixed;
  top: 0;
  z-index: 1;
}