.main-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .name-container {
    width: 80vw;
    text-align: center;

    @media (max-width: 850px) {
      width: 100vw;
    }
  }

  .info-container {
    display: flex;
    width: 100%;
    justify-content: center;

    @media (min-width: 850px) {
      flex-direction: row;
    }

    @media (max-width: 850px) {
      flex-direction: column;
    }

    .inner-info-container {
      height: inherit;

			&.right {
        @media (min-width: 850px) {
          position: relative;
          right: -$spacing;
          margin-right: $spacing * 2;
          width: 100vw - $profile-info-width;
				}

        @media (max-width: 850px) {
          width: 100%;
        }
			}

			&.left {
        @media (min-width: 850px) {
          width: $profile-info-width;
				}

        @media (max-width: 850px) {
          width: 100%;
				}

        .fixed-container {
          @media (min-width: 850px) {
            position: fixed;
            left: $spacing;
          }

          &.card {
            @media (min-width: 850px) {
              width: calc(#{$profile-info-width} - 40px - #{$spacing} * 2);
            }
          }
        }
			}
    }
  }
}