.name {
  stroke: $background-color;
  fill: none;
  stroke-dasharray: 2600;
  stroke-dashoffset: 2600;

  #mask-m {
    animation: letter-animation 8s linear forwards;
    animation-delay: 0s;
  }

  #mask-a {
    animation: letter-animation 10s linear forwards;
    animation-delay: 1.5s;
  }

  #mask-r {
    animation: letter-animation 12s linear forwards;
    animation-delay: 2.5s;
  }

  #mask-i {
    animation: letter-animation 12s linear forwards;
    animation-delay: 3.5s;
  }

  #mask-i-dot {
    animation: letter-animation 12s linear forwards;
    animation-delay: 4.2s;
  }

  #mask-a-2 {
    animation: letter-animation 10s linear forwards;
    animation-delay: 4.7s;
  }

  #mask-b {
    animation: letter-animation 8s linear forwards;
    animation-delay: 5.7s;
  }

  #mask-e {
    animation: letter-animation 10s linear forwards;
    animation-delay: 7s;
  }

  #mask-l {
    animation: letter-animation 12s linear forwards;
    animation-delay: 8s;
  }

  #mask-e-2 {
    animation: letter-animation 10s linear forwards;
    animation-delay: 9s;
  }

  #mask-e-2-dot {
    animation: letter-animation 12s linear forwards;
    animation-delay: 10s;
  }

  #mask-n {
    animation: letter-animation 10s linear forwards;
    animation-delay: 10.5s;
  }

  #mask-c {
    animation: letter-animation 8s linear forwards;
    animation-delay: 11.5s;
  }

  #mask-h {
    animation: letter-animation 10s linear forwards;
    animation-delay: 12.5s;
  }

  #mask-a-3 {
    animation: letter-animation 10s linear forwards;
    animation-delay: 13.7s;
  }

  #mask-a-3-dot {
    animation: letter-animation 12s linear forwards;
    animation-delay: 14.7s;
  }
}

@keyframes letter-animation {
  0% {
      stroke-dashoffset: 2600;
  }
  100% {
      stroke-dashoffset: 0;
  }
}
