.name {
  stroke: $background-color;
  fill: none;
  stroke-dasharray: 2600;
  stroke-dashoffset: 2600;

  #mask-m {
    animation: letter-animation 4s linear forwards;
    animation-delay: 0s;
  }

  #mask-a {
    animation: letter-animation 5s linear forwards;
    animation-delay: 0.75s;
  }

  #mask-r {
    animation: letter-animation 6s linear forwards;
    animation-delay: 1.25s;
  }

  #mask-i {
    animation: letter-animation 6s linear forwards;
    animation-delay: 1.75s;
  }

  #mask-i-dot {
    animation: letter-animation 6s linear forwards;
    animation-delay: 2.1s;
  }

  #mask-a-2 {
    animation: letter-animation 5s linear forwards;
    animation-delay: 2.35s;
  }

  #mask-b {
    animation: letter-animation 4s linear forwards;
    animation-delay: 2.85s;
  }

  #mask-e {
    animation: letter-animation 5s linear forwards;
    animation-delay: 3.5s;
  }

  #mask-l {
    animation: letter-animation 6s linear forwards;
    animation-delay: 4s;
  }

  #mask-e-2 {
    animation: letter-animation 5s linear forwards;
    animation-delay: 4.5s;
  }

  #mask-e-2-dot {
    animation: letter-animation 6s linear forwards;
    animation-delay: 5.1s;
  }

  #mask-n {
    animation: letter-animation 5s linear forwards;
    animation-delay: 5.35s;
  }

  #mask-c {
    animation: letter-animation 4s linear forwards;
    animation-delay: 5.85s;
  }

  #mask-h {
    animation: letter-animation 5s linear forwards;
    animation-delay: 6.35s;
  }

  #mask-a-3 {
    animation: letter-animation 5s linear forwards;
    animation-delay: 6.95s;
  }

  #mask-a-3-dot {
    animation: letter-animation 6s linear forwards;
    animation-delay: 7.55s;
  }
}

@keyframes letter-animation {
  0% {
      stroke-dashoffset: 2600;
  }
  100% {
      stroke-dashoffset: 0;
  }
}
