<div class="main-container">
  <div class="name-container">
    <%= partial "svg/name" %>
  </div>

  <div class="info-container">
    <div class="inner-info-container left">
      <div class="fixed-container">
        <div class="card card-profile">
          <div class="image-wrapper">
            <%= image_tag("yo.jpg") %>
          </div>
          <h2>Full Stack Software Engineer</h2>
          <p>
            <b><%= Time.now.year - 2019 %>+</b> years of experience
          <br>
            Working mainly with <b>Ruby</b> and <b>JavaScript</b>
          </p>
        </div>

        <div class="card card-contact">
          <% link_to("https://github.com/mbcha", class: "contact-icon", target: :blank) do %>
            <i class="fab fa-github card-icon"></i>
          <% end %>
          <% link_to("https://www.linkedin.com/in/mbcha/", class: "contact-icon", target: :blank) do %>
            <i class="fab fa-linkedin-in card-icon"></i>
          <% end %>
          <% link_to("mailto:cha.maria.belen@gmail.com", class: "contact-icon", target: :blank) do %>
            <i class="far fa-envelope card-icon email-link"></i>
          <% end %>
          <% link_to("Bel-CV.pdf", class: "contact-icon", target: :blank, title: "Download CV", download: "MariaBelenCha-CV") do %>
            <i class="far fa-file-pdf card-icon"></i>
          <% end %>
        </div>
      </div>
    </div>

    <div class="inner-info-container right">
      <div class="card card-projects">
        <h2 class="underlined">Projects</h2>
        <ul class="projects-list">
          <li>
            <div class="project-header">
              <h3>Salonized</h3>
              <% link_to("https://www.salonized.com", class: "contact-icon", target: :blank) do %>
                <i class="fa-solid fa-arrow-up-right-from-square link-icon"></i>
              <% end %>
            </div>
            <p>The main project I have worked in the past few years. It is a software to manage salons. I have worked on almost every aspect of the application.</p>
          </li>
          <li>
            <div class="project-header">
              <h3>Timezone Converter</h3>
              <% link_to("https://mbcha.github.io/timezone-converter/", class: "contact-icon", target: :blank) do %>
                <i class="fa-solid fa-arrow-up-right-from-square link-icon"></i>
              <% end %>
            </div>
            <p>Simple, user friendly tool to convert timezones as I have friends and family in different timezones. It became specially useful while traveling.</p>
          </li>
          <li>
            <div class="project-header">
              <h3>I18next</h3>
              <% link_to("https://www.linkedin.com/in/mbcha/", class: "contact-icon", target: :blank) do %>
                <i class="fa-solid fa-arrow-up-right-from-square link-icon"></i>
              <% end %>
            </div>
            <p>Gem that builds on top of the i18n library. It includes a backend that can be chained to support translations being loaded via HTTP.</p>
            <p><em>This is a private repository so please request access if you would like to view it<em></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
